## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Rikitea,PF,75.76,few clouds,-23.1203,-134.9692,People ThankYou
1,1,Atuona,PF,77.99,few clouds,-9.8000,-139.0333,Villa Enata
2,5,Georgetown,MY,82.89,few clouds,5.4112,100.3354,Cititel Penang
3,6,Kapaa,US,84.18,broken clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,17,Aklavik,CA,76.37,overcast clouds,68.2191,-135.0107,Aklavik Inn

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Valentin Gomez Farias"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Valentin Gomez Farias"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Agua Verde"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Nuevo Progreso"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Matamoros"]

In [23]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (28.2167, -106.5833) ##vacation_df.loc[vacation_df["City"] == "Valentin Gomez Farias"].to_numpy()
end = (28.2167, -106.5833) ##vacation_df.loc[vacation_df["City"] == "Valentin Gomez Farias"].to_numpy()
stop1 = (22.9, -106.05) ##vacation_df.loc[vacation_df["City"] == "Agua Verde"].to_numpy()
stop2 = (23.1667,-97.95,) ##vacation_df.loc[vacation_df["City"] == "Nuevo Progreso"].to_numpy()
stop3 = (25.5333, -103.25) ##vacation_df.loc[vacation_df["City"] == "Matamoros"].to_numpy()
waypoints = [stop1, stop2, stop3]

In [30]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig1 = gmaps.figure(center=(30.0, 31.0), zoom_level=1)


directions_layer = gmaps.directions_layer(start, end, waypoints, travel_mode='DRIVING')
fig1.add_layer(directions_layer)
fig1

Figure(layout=FigureLayout(height='420px'))

In [31]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,439,Valentin Gomez Farias,MX,79.07,broken clouds,28.2167,-106.5833,NaN
1,439,Valentin Gomez Farias,MX,79.07,broken clouds,28.2167,-106.5833,NaN
2,595,Agua Verde,MX,78.89,broken clouds,22.9000,-106.0500,NaN
3,316,Nuevo Progreso,MX,76.46,overcast clouds,23.1667,-97.9500,Balneario Rio el Paraiso
4,200,Matamoros,MX,86.11,broken clouds,25.5333,-103.2500,Quinta Belem

In [32]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [35]:
# 11a. Add a marker layer for each city to the map.
fig2 = gmaps.figure(center=(30.0, 31.0), zoom_level=1)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2.add_layer(marker_layer)
# 11b. Display the figure
fig2

Figure(layout=FigureLayout(height='420px'))